@import "tailwindcss";
@font-face {
  font-family: "MyCustomFont"; /* Jo naam tum dena chaho */
  src: url("./assets/fonts/second.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "MyCustomFont";
  background: #0d0d0d;
}
* {
  letter-spacing: 0.04em;
}

body,
html {
  background: #0d0d0d;
}

input{
  background-color:#1e1e1e;
}
select{
  background-color:#1e1e1e;

}